.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 70px;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
  transition: all 0.4s;
}

.chat:hover {
  background-color: #eee;
}

.chat__avatar {
  margin-right: 10px;
}

.chat__details {
  flex: 1;
}

.chat__name {
  font-size: 20px;
}

.chat__message {
  color: #808080;
  font-size: 14px;
  margin-top: 5px;
}

.chat__timestamp {
  color: #d3d3d3;
  font-size: 12px;
}
